Gemfile.lock
/tmp
/public
/log
config/database.yml
config/application.yml
db/schema.rb
/app/images/**/*.*
!/app/images/bg.png
!/app/images/title.png
!/app/images/no-image.jpg
!/app/images/markitup/*.*