@font-face {
    font-family: Generica;

    src: url(/fonts/generica.otf);

}
@font-face {
    font-family: Generica;
    src: url(/fonts/generica-bold.otf);
    font-weight: bold;
}

html, body{
  background: url('../images/bg.png');
  height: 100%;
  font-family: Verdana !important;
  font-size: 12px;
}

.generica{
  font-family: Generica !important;
  font-size: 14pt;
}

.centered{
  padding-top: 20px;
  max-width: 800px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}
.arial{
  font-family: Arial,sans-serif !important; 
  font-size: 12pt;
}
.content{
  padding: 20px;
  background-color: rgba(255,255,255,0.5);
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 7px 7px 15px #EEEEEE;
}
.text-center{
  text-align: center;
}
.jcrop-holder{
  margin: auto;
  margin-top: 10px;
}
.jcrop-keymgr{
  display: none;
}
#images{
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 50px;

}


#images .col-sm-3 {
  margin-bottom: -14px;
}

.is-clickable{
  cursor: pointer;
}
.title{
  font-size: 36pt;
}
.subtitle{
  font-size: 15pt;
  margin-left: 150px;
  font-style: italic;
}

.border-soft{
  border: 1px solid black ;
  border-radius: 5px;
}
.shadow-hover:hover{
   box-shadow: 
      2px 0px 15px 2px  #cccccc,
      0px -2px 15px 2px #cccccc,
      -2px 0px 15px 2px #cccccc,
      0px 2px 15px 2px #cccccc;
}

hr {
  border-top-width: 1px;
  border-color: #cccccc;
}

.block{
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
       -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
          transition: all .3s ease;
          
  margin: auto;
  margin-bottom: 50px;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

.item{
  padding: 20px;
}
p.center{
  text-align: center;
}
.item img{
  max-height: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 450px;   
}
.half .item img{
  max-width: 320px;
}
.half{
  width:50%;
  float:left;
}

#preview{
  padding: 10px;
}

#contenthtml{
  width: 100%;
  min-height: 500px;
}

#contentEdit{
  margin: auto;
  padding-top: 20px;
  width: 800px;
  min-width: 500px;
}
.margin-bottom-20{margin-bottom: 20px;}
.margin-10{margin: 10px;}
.margin-top-25{margin-top: 25px;}
.margin-top-15{margin-top: 15px;}
.margin-top-5{margin-top: 5px;}
.margin-bottom-15{margin-bottom: 15px;}
.height-50{height: 50px; clear: both;}
.margin-left-50{margin-left: 50px;}
.margin-left-20{margin-left: 20px;}
.float-left{float: left;}
.float-right{float: right;}
.width-650{width: 650px;}
.width-620{width: 620px;}
.width-565{width: 565px;}
.width-215{width: 215px;}
.width-150{width: 150px;}
.border-right-10{border-right: 30px solid transparent;}
.border-left-10 {border-left: 10px solid transparent;}
.width-50p{width: 50%;}
.height-150{height: 150px;}
.square-150{
  width: 150px;
  height: 150px;}
.width-100p{width: 100%;}
.square-80{
  width: 80px;
  height: 80px;}
.padding-right-10{padding-right: 10px;}
.padding-left-10{padding-left: 10px;} 
.padding-top-20{padding-top: 20px;}
.display-inline{display: inline;}
.display-none{display: none;}
.btn-default span{color: #337AB7;}
.margin-left-10{margin-left: 10px;} 
.galerie-row{
  margin-top: 20px;
  height: 150px;
}

.return{
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 10pt;
}
.return2{
  float: right;
  right: 20px;
  margin-top: 14px;
}
.link_notifications{
  position: absolute;
  top: 30px;
  right: 160px;
  font-size: 10pt;
}
.link_products{
  position: absolute;
  top: 30px;
  right: 280px;
  font-size: 10pt;
}
.footer{
  margin: auto;
}
.footer a{
  text-decoration: none;
}

.browser-links{
  width: 100%;
}
.previous{
  width: 33%;
  float: left;
  display: inline-block;
  text-align: left;
}
.return-to-main{
  width: 33%;
  display: inline-block;
  text-align: center;
}
.next{
  width: 33%;
  float: right;
  display: inline-block;
  text-align: right;
}

.alinea{
  margin-left: 30px;
}

.form-width{
  width: 450px;
  margin: auto;
  margin-top: 20px;
}

.product{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 110px;
  padding-right: 110px;
}
hr{
  width: 500px;
}
.margin-bottom-80{
  margin-bottom: 80px;
}

.product .wrapper{
  position: relative;
}
.product img{
  max-width: 500px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}


.sold {
   position: absolute;
   left: -5px; top: -5px;
   z-index: 1;
   overflow: hidden;
   width: 75px; height: 75px; 
   text-align: right;
}
.sold span {
   font-size: 10px;
   color: #fff; 
   text-align: center;
   font-weight: bold; line-height: 20px;
   -webkit-transform: rotate(-45deg);
   -moz-transform:    rotate(-45deg);
   -ms-transform:     rotate(-45deg);
   -o-transform:      rotate(-45deg);
   transform:         rotate(-45deg);
   width: 100px; display: block;
   /*background: #8a8a8a;*/
   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
   position: absolute;
   top: 20px; left: -20px;
}

.sold span::before {
   content: '';
   position: absolute; 
   left: 0px; top: 100%;
   z-index: -1;
   border-left: 3px solid #555;
   border-right: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #555;
}
.sold span::after {
   content: '';
   position: absolute; 
   right: 0%; top: 100%;
   z-index: -1;
   border-right: 3px solid #555;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #555;
}
.sold.vendu span{ background: #f6892a; }
.sold.stock span{ background: #46b842; }
.sold.commande span{ background: #6F8BA5;  }


.product .name{
  font-weight: bold;
  font-size: 18px;
}
.product .description{
  font-size: 16px;
}
.product .see_more{
  
}
.product .more_desc{
}
.explications{
  font-style: italic;
  font-size: 14px;
}

.margin-top-10{
  margin-top: 10px;
}
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  text-align: left;
  margin-top: 10px;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Plus d\'infos';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Cacher';
}

.read-more-trigger {
  cursor: pointer;
  text-align: right;
  padding-right: 10px;
  font-weight: normal;
}