html, body{
  background: url('../images/bg.png');
  height: 100%;
  font-family: Verdana !important;
  font-size: 12px;
}

#content{
  padding-top: 20px;
  width: 65%;
  min-width: 800px;
  margin: auto;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}
.text-center{
  text-align: center;
}
.jcrop-holder{

  margin: auto;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 3px;
}
.jcrop-keymgr{
  display: none;
}
#images{
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 50px;

}

#images .col-sm-3 {
  margin-bottom: 40px;
}

.is-clickable{
  cursor: pointer;
}
#title{
  margin-top: 0px;
  padding-left: 50px;
  width: 100%;
  font-weight: bold;
}

.border-soft{
  border: 1px solid black ;
  border-radius: 5px;
}
.shadow-hover:hover{
   box-shadow: 
      2px 0px 15px 2px  #cccccc,
      0px -2px 15px 2px #cccccc,
      -2px 0px 15px 2px #cccccc,
      0px 2px 15px 2px #cccccc;
}

hr {
  border-top-width: 1px;
  border-color: #cccccc;
}

.block{
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
       -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
          transition: all .3s ease;
          
  margin: auto;
  margin-bottom: 50px;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

#preview{
  padding: 10px;
  background-color: white;
  border: 2px solid #cecece ;
  min-height: 500px;
  overflow-y: scroll;
}

#contenthtml{
  width: 100%;
  min-height: 500px;
}

#contentEdit{
  margin: auto;
  padding-top: 20px;
  width: 80%;
  min-width: 500px;
}
.margin-bottom-20{margin-bottom: 20px;}
.margin-10{margin: 10px;}
.margin-top-15{margin-top: 15px;}
.height-50{height: 50px;}
