<!DOCTYPE html>
<html>
<head>
  <title>Pictures</title>
  <%= css :application %>
  <%= js :application %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

<%= yield %>

</body>
</html>

