<!DOCTYPE html>
<html>
<head>
  <title>Pictures</title>
  <script src="/js/jquery-1.11.2.min.js"></script>
  <script src="/js/app.js"></script>
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

<%= yield %>

</body>
</html>

