
<div class="centered generica">
	<h1 class="title">Copeaux d'aronde
	<img src="/images/aronde_title.png" alt="Aronde"/>
</h1>
	<h2 class="subtitle">Mobilier multimatériaux, d'intérieur et d'extérieur, par Timothée Delay</h2>
	<div id="images">
		<% @posts.each do |post| %>
			<div class="col-sm-3">
				<a href="/<%= post.sha1%>" class="linked">
				<% if post.icon %> 
				<div class="block border-soft shadow-hover" style="background-image: url('/images/posts/<%=post.folder_hash%>/<%=post.icon.file_icon%>')"></div>
				<% else %>
				<div class="block border-soft shadow-hover" style="background-image: url('/images/no-image.jpg')"></div>
				<% end %>
				</a>
			</div>
		<% end %>
	</div>
</div>
