
%a{href: '/admin'} Admin

%div
	Créer un nouvel article

	%form{action: '/admin/new', method: 'post'}
		%input{type: 'text', name: 'title'}
		%input{type: 'text', name: 'content'}
		%input{type: "submit"}
			Valider